Build.dat
build*/
*.swp
*.swo
install/*
lnInclude/
*.swp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
compile_commands.json


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# intermediate test data
foam.log
foam_header_list_1.log
foam_header_list_2.log
log
makeAll
makeNemOnly
nemosys.tar.gz
python/pyNemosysSymmx_wrap.cpp
python/pySymmx_wrap.cpp
testing/test_data/Ep16Test/gmsh2exo.json
testing/test_data/MeshGenTest/default.json
testing/test_data/MeshGenTest/geom.json
testing/test_data/MeshGenTest/hinge.vol
testing/test_data/MeshGenTest/unif.json
testing/test_data/MeshGen_UnifRefine_test.txt
testing/test_data/MeshGen_UnifRefine_test/
testing/test_data/PNTGenTest/bench1.json
testing/test_data/PNTGenTest/bench5.json
testing/test_data/PNTGenTest/bench6.json
testing/test_data/Refine_Quality_Transfer_test.txt
testing/test_data/Refine_Quality_Transfer_test/
testing/test_data/test_pyNemosys/meshGen/hinge.vol
testing/test_data/test_pyNemosys/meshGen/hinge.vtu
testing/test_data/test_pyNemosys/meshQuality/meshQual.txt
testing/test_data/test_pyNemosys/meshQuality/refined_uniform_hinge-qal.vtu
testing/test_data/test_pyNemosys/refine/refineCellList.csv
testing/test_data/test_pyNemosys/refine/refined_beam.vtu
testing/test_data/test_pyNemosys/refine/refined_beam1.vtu
testing/test_data/test_pyNemosys/transfer/transfer_test.vtu
testing/test_scripts/diff_tol
testing/test_scripts/diff_vtu
testing/test_scripts/runAutoVerifTest
testing/test_scripts/runConversionTest
testing/test_scripts/runCubatureInterpTest
testing/test_scripts/runEp16Test
testing/test_scripts/runMeshGenTest
testing/test_scripts/runOrthoPolyTest
testing/test_scripts/runPNTGenTest
testing/test_scripts/runPatchRecoveryTest
testing/test_scripts/runTransferTest
testing/test_scripts/tests.sh

