# Build and install files
Build.dat
*build*/
*install*/
*.swp
*.swo
lnInclude/
*_export.h

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
compile_commands.json

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Win32 build stuff
# Debugging
*.pdb
*.ilk
# Visual Studio directory
.vs
# Code Analysis
*.tmp
