Source: nemosys
Section: libs
Priority: extra
Maintainer: Larry Price <lrp@illinoisrocstar.com>
Build-Depends: debhelper (>=9),
               cmake,
               libvtk6-dev,
               libmetis-dev,
               libann-dev
Standards-Version: 3.9.8
Homepage: https://illinoisrocstar.com

Package: libmadlib-rocstar
Architecture: any
Depends: libgmsh-rocstar,
         ${shlibs:Depends},
         ${misc:Depends}
Description: short description
 long description

Package: libgmsh-rocstar
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: short description
 long description

Package: libcgns-rocstar
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: short description
 long description

Package: libnemosys
Architecture: any
Depends: libmadlib-rocstar,
         libgmsh-rocstar,
         libcgns-rocstar,
         ${shlibs:Depends},
         ${misc:Depends}
Description: short description
 long description

Package: libr8
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: short description
 long description

Package: libinterp
Architecture: any
Depends: libr8,
         ${shlibs:Depends},
         ${misc:Depends}
Description: short description
 long description

Package: librocs
Architecture: any
Depends: libcgns-rocstar,
         ${shlibs:Depends},
         ${misc:Depends}
Description: short description
 long description

Package: grid2gridtransfer
Architecture: any
Depends: libinterp,
         libnemosys,
         libr8,
         librocs,
         ${shlibs:Depends},
         ${misc:Depends}
Description: short description
 long description
